   <section class="products pt-3">
        
        <div class="container">
            <div class="row">
                <div style="width: 100%; height: 500px; background-color: black; border-radius: 50px;">
                    <div class="col-md-6">

                    </div>
                    <div class="col-md-6">
                       <img src="/productimages/w300/{{featuredproduct._id}}.png" alt="">
                    </div>

                </div>
                {{#each products}}
                <a href="/products/{{this._id}}" style="text-decoration: none;">
                <div class="col-md-3 col-6">
                    <div class="card" style="width: 15rem;">
                        <img class="card-img-top" src="/productimages/w300/{{this._id}}_0.png" style="height: 221px;" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{this.Name}}</h5>
                            <p class="card-text">{{this.Catogary}}</p>
                            <p class="card-text text-danger">Rs.{{this.Price}}</p>
                            <a href="#" class="btn btn-dark" style="border-radius: 20px;">Add to cart</a>
                        </div>
                    </div>
                </div>
                </a>
                {{/each}}
            </div>
        </div>
        
    </section>
